<!DOCTYPE html>
<html>
    <head>
        <title>General ledger</title>
        {% include 'common_css.html' %}
    </head>
    <body>
        <table border="0">
            <thead>
                <tr class="tableHeaderNoWrap">
                    <th colspan="7"></th>
                    <th align="center" colspan="3">Nominal currency</th>
                    <th align="center" class="backgroundLocal" colspan="2">Base currency</th>
                    <th colspan="2"></th>
                    <th align="center" colspan="7" class="backgroundLocal">Base currency</th>
                    <th colspan="3"></th>
                </tr>
              <tr class="tableHeaderNoWrap">
                <th align="right">Date</th>
                <th align="right">Broker</th>
                <th align="right">Source</th>
                <th align="right">Action</th>
                <th align="left">Name</th>
                <th align="right">Volume</th>
                <th align="right">Held</th>
                <th align="right">Price</th>
                <th align="right">Average price</th>
                <th align="right">Amount</th>
                <th align="right" class="backgroundLocal">Commission</th>
                <th align="right" class="backgroundLocal">Cash flow</th>
                <th align="right">FX</th>
                <th align="right">Average FX</th>
                <th align="right" class="backgroundLocal">Agg cash flow</th>
                <th align="right" class="backgroundLocal">Agg interest</th>
                <th align="right" class="backgroundLocal">Agg dividends</th>
                <th align="right" class="backgroundLocal">Agg fees</th>
                <th align="right" class="backgroundLocal">PnL</th>
                <th align="right" class="backgroundLocal">...security</th>
                <th align="right" class="backgroundLocal">...FX</th>
                <th align="left">Account</th>
                <th align="right">Credit</th>
                <th align="right">Debit</th>
              </tr>
            </thead>
            <tbody>
                {% for row in ledger %}
                <tr class="tableRowNoWrap">
                    <td data-date-value="{{ row.transaction_date }}"></td>
                    <td data-name-right="{{ row.broker | format_none }}"></td>
                    <td data-name-right="{{ row.source | format_none }}"></td>
                    <td data-name-right="{{ row.transaction_type_internal | format_none }}"></td>
                    <td data-name="{{ row.name | format_none }}"></td>
                    <td data-monetary-value="{{ row.no_traded|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.cumulative_buy_volume|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.price|format_decimals(2) }}"></td>
                    <td data-monetary-value="{{ row.average_price|format_decimals(1) }}"></td>
                    <td data-monetary-value="{{ row.amount|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.commission|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.cash_flow_base_ccy|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.fx_rate|format_decimals(3) }}"></td>
                    <td data-monetary-value="{{ row.average_fx_rate|format_decimals(3) }}"></td>
                    <td data-monetary-value="{{ row.cumulative_invested_amount|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.cumulative_interest|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.cumulative_dividends|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.cumulative_fees|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.realized_pnl|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.realized_pnl_equity|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.realized_pnl_fx|format_decimals(0) }}"></td>
                    <td data-name="{{ row.ledger_account }}"></td>
                    <td data-monetary-value="{{ row.credit|format_decimals(0) }}"></td>
                    <td data-monetary-value="{{ row.debit|format_decimals(0) }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </div>
    </body>
</html>
