version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 20
    groups:
      github-workflows:
        patterns:
          - "docker/*"
          - "actions/*"
          - "github/*"
          - "release-drafter/*"
          - "peter-evans/*"
          - "py-cov-action/*"
  - package-ecosystem: uv
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 20
    groups:
      types:
        patterns:
          - "types*"
      pytest:
        patterns:
          - "pytest*"
  - package-ecosystem: npm
    directory: "/frontend"
    schedule:
      interval: weekly
    open-pull-requests-limit: 20
    groups:
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      eslint:
        patterns:
          - "@typescript-eslint*"
          - "@eslint*"
          - "eslint*"
      mui:
        patterns:
          - "@mui*"
      babel:
        patterns:
          - "babel*"
          - "@babel*"
      webpack:
        patterns:
          - "webpack*"
      emotion:
        patterns:
          - "@emotion*"
