colorlog==6.7.0
fastapi==0.104.1
humanize==4.8.0
Jinja2==3.1.2
lxml==4.9.3
pandas==2.1.2
pydantic-settings==2.0.3
requests==2.31.0
strawberry_graphql[debug-server]==0.211.1
uvicorn[standard]==0.24.0.post1
