<!doctype html>
<html>
  <head>
    <title>Historical portfolio</title>
    {% include 'common_css.html' %}
  </head>
  <body>
    <div class="navigation">{% include 'navigation.html' %}</div>
    <table>
      <thead>
        <tr>
          <th align="right">Report date</th>
          <th align="right">Invested</th>
          <th align="right">Market value</th>
          <th align="right">Return*</th>
          <th align="right">Realied</th>
          <th align="right">Unrealized</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td data-date-value="{{ row.report_date }}"></td>
          <td
            data-monetary-value="{{ row.portfolio.invested_amount|format_decimals(0) }}"
          ></td>
          <td
            data-monetary-value="{{ row.portfolio.market_value|format_decimals(0) }}"
          ></td>
          <td
            data-monetary-value="{{ row.portfolio.return_pct|format_pct }}"
          ></td>
          <td
            data-monetary-value="{{ row.portfolio.realized_pnl|format_decimals(0) }}"
          ></td>
          <td
            data-monetary-value="{{ row.portfolio.unrealized_pnl|format_decimals(0) }}"
          ></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="footnote">{% include 'footnote.html' %}</div>
  </body>
</html>
